{# Twig Globals #}
{# @var \Slim\Csrf\Guard csrf #}

{% do requireVariables({
    user: 'App\\Users\\Models\\UserModel',
    token: 'string',
}) %}

{# @var \App\Users\Models\UserModel user #}
{# @var string token #}

{% extends '_Layout.twig' %}

{% set message = flash('LoginFormMessage') %}
{% if message[0] is defined %}
    {% set message = message[0] %}
{% endif %}

{% block content %}
    <section
        class="LogInForm"
        ref="LogInForm"
    >
        {% if message['status'] is defined %}
            {% set class = 'Message--IsError' %}
            {% if message.status == 'SUCCESSFUL' %}
                {% set class = 'Message--IsSuccess' %}
            {% endif %}
            <div class="LogInForm__Message">
                <div
                    class="Message {{ class }}"
                >
                    <div class="Message__Inner">
                        {{ message.result.message|default('There was a problem with your submission')|smartypants|widont }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="LogInForm__Inner">
            <form
                method="post"
                accept-charset="UTF-8"
                action="/account/reset-pw-with-token/{{ token }}"
                class="LogInForm__Form LogInForm__Form--IsActive"
            >
                <input type="hidden" name="{{ csrf.getTokenNameKey() }}" value="{{ csrf.getTokenName() }}">
                <input type="hidden" name="{{ csrf.getTokenValueKey() }}" value="{{ csrf.getTokenValue() }}">
                <label for="a_password" style="display:none !important">
                    <input
                        id="a_password"
                        type="text"
                        name="a_password"
                        style="display:none !important"
                        tabindex="-1"
                        autocomplete="off"
                    >
                </label>
                <h2 class="LogInForm__FormHeading">
                    Reset password&nbsp;for<br>{{ user.emailAddress|smartypants }}
                </h2>
                <fieldset class="fieldset LogInForm__FieldSet">
                    <label for="password" class="label LogInForm__Label">
                        New Password
                    </label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="input LogInForm__Input{% if message['result']['inputs']['password'] is defined %} input--has-error{% endif %}"
                    >
                    {% if message['result']['inputs']['password'] is defined %}
                        <div class="LogInForm__InputMessage">
                            {{ message['result']['inputs']['password']|smartypants }}
                        </div>
                    {% endif %}
                </fieldset>
                <fieldset class="fieldset LogInForm__FieldSet">
                    <label for="confirm_password" class="label LogInForm__Label">
                        Confirm Password
                    </label>
                    <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        class="input LogInForm__Input{% if message['result']['inputs']['confirmPassword'] is defined %} input--has-error{% endif %}"
                    >
                    {% if message['result']['inputs']['confirmPassword'] is defined %}
                        <div class="LogInForm__InputMessage">
                            {{ message['result']['inputs']['confirmPassword']|smartypants }}
                        </div>
                    {% endif %}
                </fieldset>
                <fieldset class="fieldset LogInForm__FieldSet LogInForm__FieldSet--IsButtonContainer">
                    <input class="button LogInForm__Button" type="submit" value="Reset Password">
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}
