{% set standAlone = standAlone ?? false %}

{% if PostMessage['status'] is defined %}
    {% set title = 'Oops, something went wrong' %}
    {% set class = 'bg-lightest-red border-lighter-red text-red' %}
    {% set icon %}
        <svg class="h-5 w-5 text-red-400" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path>
        </svg>
    {% endset %}
    {% if PostMessage.status == 'SUCCESSFUL' %}
        {% set title = 'Success!' %}
        {% set class = 'bg-green-100 border-green-400 text-green-700' %}
        {% set icon %}
            <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
        {% endset %}
    {% endif %}
    <div
        class="{{ class }} border px-4 py-3 relative sm:rounded-t-lg {% if standAlone %} sm:rounded-b-lg mb-10{% endif %}"
        role="alert"
    >
        <div class="flex leading-tight">
            <div class="flex-shrink-0">
                {{ icon }}
            </div>
            <div class="ml-3">
                <strong class="font-bold text-sm leading-5 font-medium">
                    {{ title|smartypants|widont }}
                </strong>
            </div>
        </div>
        {#<p class="mb-1">
            <strong class="font-bold">
                {{ title|smartypants|widont }}
            </strong>
        </p>#}
        <p>
            {{ PostMessage.result.message|default('')|smartypants|widont }}
        </p>
    </div>
{% endif %}
