{% do requireVariables({
    user: 'App\\Users\\Models\\UserModel',
}) %}

{# @var \App\Users\Models\UserModel user #}

{% extends 'Admin/_AdminLayout.twig' %}

{% set message = flash('PostMessage') %}
{% if message[0] is defined %}
    {% set message = message[0] %}
{% endif %}

{# @var \App\Users\Models\UserModel loggedInUser #}
{% set loggedInUser = fetchLoggedInUser() %}

{% block adminContent %}
    {% embed 'TableLayout/TableLayoutEmbed.twig' with {
        message: message,
        user: user,
        loggedInUser: loggedInUser,
    } only %}
        {% block headMarkup %}
            <tr class="Table__HeadControlRow">
                <td class="Table__HeadControlCol" colspan="2">
                    <form
                        action="/admin/users/delete/{{ user.id }}"
                        method="post"
                        style="display: inline-block"
                        ref="FormSubmitConfirm"
                        @submit="confirmSubmit"
                    >
                        <input type="hidden" name="{{ csrf.getTokenNameKey() }}" value="{{ csrf.getTokenName() }}">
                        <input type="hidden" name="{{ csrf.getTokenValueKey() }}" value="{{ csrf.getTokenValue() }}">
                        <input class="button" type="submit" value="Delete">
                    </form>
                    <a
                        href="/admin/users/edit/{{ user.id }}"
                        class="button"
                    >
                        Edit
                    </a>
                </td>
            </tr>
            <tr class="Table__HeadRow">
                <td class="Table__HeadCol">Item</td>
                <td class="Table__HeadCol">Value</td>
            </tr>
        {% endblock %}
        {% block bodyMarkup %}
            <tr class="Table__Row">
                <td class="Table__Col">
                    Admin?
                </td>
                <td class="Table__Col">
                    {{ user.isAdmin ? 'Yes' : 'No' }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Email
                </td>
                <td class="Table__Col">
                    {{ user.emailAddress }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    First name
                </td>
                <td class="Table__Col">
                    {{ user.firstName }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Last name
                </td>
                <td class="Table__Col">
                    {{ user.lastName }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Display Name
                </td>
                <td class="Table__Col">
                    {{ user.displayName }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing Name
                </td>
                <td class="Table__Col">
                    {{ user.billingName }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing Company
                </td>
                <td class="Table__Col">
                    {{ user.billingCompany }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing Phone
                </td>
                <td class="Table__Col">
                    {{ user.billingPhone }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing Address
                </td>
                <td class="Table__Col">
                    {{ user.billingAddress }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing City
                </td>
                <td class="Table__Col">
                    {{ user.billingCity }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing State
                </td>
                <td class="Table__Col">
                    {{ user.billingStateAbbr }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing Postal Code
                </td>
                <td class="Table__Col">
                    {{ user.billingPostalCode }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Billing Country
                </td>
                <td class="Table__Col">
                    {{ user.billingCountry }}
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    Created At
                </td>
                <td class="Table__Col">
                    {{
                        user.createdAt
                            .setTimezone(loggedInUser.timezone)
                            .format('Y-m-d h:i a')
                    }} ({{ loggedInUser.timezone.getName() }})
                </td>
            </tr>
            <tr class="Table__Row">
                <td class="Table__Col">
                    User Timezone
                </td>
                <td class="Table__Col">
                    {{ user.timezone.getName() }}
                </td>
            </tr>
        {% endblock %}
    {% endembed %}
    {# TODO: Add user licesnes #}
    <br>
    <strong>TODO: Add user licenses</strong>
{% endblock %}
