{% do requireVariables({
    cart: 'App\\Cart\\Models\\CartModel',
}) %}

{# @var \App\Cart\Models\CartModel cart #}

{% extends '_Layout.twig' %}

{% block content %}
    <div class="Cart">
        <div class="Cart__Info">
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Items</div>
                <div class="CartInfo__ItemValue">
                    {{ cart.getTotalItems() }}
                </div>
            </div>
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Quantity</div>
                <div class="CartInfo__ItemValue">{{ cart.getTotalQuantity() }}</div>
            </div>
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Subtotal</div>
                <div class="CartInfo__ItemValue">${{ cart.calculateSubTotal()|number_format(2) }}</div>
            </div>
            {% if cart.calculateTax() > 0 %}
                <div class="CartInfo__Item">
                    <div class="CartInfo__ItemKey">Tax</div>
                    <div class="CartInfo__ItemValue">${{ cart.calculateTax()|number_format(2) }}</div>
                </div>
            {% endif %}
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Total</div>
                <div class="CartInfo__ItemValue">${{ cart.calculateTotal()|number_format(2) }}</div>
            </div>
            <div class="CartInfo__Item">
                <a
                    href="{% if cart.getUser() %}#0{% else %}/cart/log-in{% endif %}"
                    class="button CartInfo__Button"
                >
                    {% if cart.getUser() %}Pay Now{% else %}Log In To Pay{% endif %}
                </a>
            </div>
        </div>
        <div class="Cart__Items">
            {% for item in cart.getItems() %}
                <div class="Cart__Item">
                    <div class="Cart__ItemTitle">{{ item.getSoftware().getName()|smartypants }}</div>
                    <div class="Cart__ItemPrice">${{ item.getSoftware().getPrice()|number_format(2) }}</div>
                    <div class="Cart__ItemQuantity">
                        <label>
                            <input
                                type="text"
                                class="input Cart__ItemQuantityInput"
                                value="{{ item.getQuantity() }}"
                            >
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
