{# @var \App\Content\Modules\Payloads\ImageModulePayload payload #}

{# @var \App\Content\Modules\Payloads\ImagePayload image #}
{% set image = payload.getImage() %}

<section class="{% if payload.backgroundColor %}bg-{{ payload.backgroundColor }}{% endif %} py-7 px-1 sm:py-9 sm:px-5 lg:py-12 lg:px-7">
    <div class="{% if not payload.noShadow %} shadow-common{% endif %} mx-auto max-w-87-5rem">
        <picture>
            {% for source in image.getSources() %}
                <source
                    srcset="{{ source.getOneX() }} 1x{% if source.getTwoX() %}, {{ source.getTwoX() }} 2x{% endif %}"
                    media="{{ source.getMediaQuery() }}"
                >
            {% endfor %}
            <img
                src="{{ image.getOneX() }}"
                {% if image.getTwoX() %}
                srcset="{{ image.getOneX() }} 1x, {{ image.getTwoX() }} 2x"
                {% endif %}
                alt="{{ image.getAlt()|smartypants }}"
                class="w-full"
            >
        </picture>
    </div>
</section>
