{% set method = (block('method') ?? method ?? 'post') %}
{% set heading = (block('heading') ?? heading ?? false) %}
{% set submitButtonContent = (block('submitButtonContent') ?? submitButtonContent ?? false) %}
{% set message = message ?? false %}
{% set useStandardMaxWidth = useStandardMaxWidth ?? true %}
{% set actionSelectorOptions = actionSelectorOptions ?? [] %}

{% if not message %}
    {% set message = flash('PostMessage') %}
    {% if message[0] is defined %}
        {% set message = message[0] %}
    {% endif %}
{% endif %}

{% import "StandardForm/Macros/StandardFormInputs.twig" as inputs %}

<form
    method="{{ method }}"
    class="form StandardForm{% if useStandardMaxWidth %} StandardForm--IsMaxWidth800{% endif %}"
    enctype="multipart/form-data"
>
    <input type="hidden" name="{{ csrf.getTokenNameKey() }}" value="{{ csrf.getTokenName() }}">
    <input type="hidden" name="{{ csrf.getTokenValueKey() }}" value="{{ csrf.getTokenValue() }}">
    <label for="a_password" style="display:none !important">
        <input
            id="a_password"
            type="text"
            name="a_password"
            style="display:none !important"
            tabindex="-1"
            autocomplete="off"
        >
    </label>

    {% if heading %}
        <h2 class="StandardForm__Heading">
            {{ heading|smartypants }}
        </h2>
    {% endif %}

    {{ inputs.displayMessage(message) }}

    {{ block('standardFormContent') ?? standardFormContent ?? '' }}

    {% if actionSelectorOptions|length > 0 %}
        {{ inputs.actionSelectorOptions(actionSelectorOptions) }}
    {% endif %}

    {% if submitButtonContent %}
        {{ inputs.submitButton(submitButtonContent) }}
    {% endif %}
</form>
