{# @var \App\Users\Models\UserModel user #}

{% extends 'Http/Account/_AccountLayout.twig' %}

{% import 'Http/_Infrastructure/Macros/Forms/Buttons.twig' as Buttons %}
{% import 'Http/_Infrastructure/Macros/Forms/HiddenInputs.twig' as HiddenInputs %}

{% set message = flash('PostMessage') %}
{% if message[0] is defined %}
    {% set message = message[0] %}
{% endif %}

{% macro textInput(params) %}
    {% set params = {
        label: '',
        small: '',
        name: '',
        errorMessage: '',
    }|merge(params) %}
    <div class="sm:col-span-6">
        <label
            for="{{ params.name }}"
            class="block text-sm font-medium leading-5 text-gray-700 dark:text-gray-200"
        >
            {{ params.label|smartypants|widont }}
        </label>
        <div class="mt-1 rounded-md shadow-sm">
            <input
                type="password"
                name="{{ params.name }}"
                id="{{ params.name }}"
                class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 dark:bg-nandor-light dark:text-gray-200{% if params.errorMessage %} border-red bg-lighter-red{% endif %}"
            >
        </div>
        {% if params.errorMessage %}
            <div class="mt-2 text-red">
                {{ params.errorMessage|smartypants|widont }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block accountContent %}
    <div class="bg-white dark:bg-blue-smoke shadow overflow-hidden sm:rounded-lg max-w-xl">
        {% if message['status'] is defined %}
            {% set title = 'There was a problem' %}
            {% set class = 'bg-lighter-red border-light-red text-red' %}
            {% if message.status == 'SUCCESSFUL' %}
                {% set title = 'Success!' %}
                {% set class = 'bg-green-100 border-green-400 text-green-700' %}
            {% endif %}
            <div
                class="{{ class }} border px-4 py-3 relative sm:rounded-t-lg"
                role="alert"
            >
                <p class="mb-1">
                    <strong class="font-bold">
                        {{ title|smartypants|widont }}
                    </strong>
                </p>
                <p>
                    {{ message.result.message|default('')|smartypants|widont }}
                </p>
            </div>
        {% endif %}
        <div class="px-4 py-5 border-b border-gray-200 dark:border-gray-400 sm:px-6">
            <form
                method="post"
                enctype="multipart/form-data"
            >
                {{ HiddenInputs.hiddenInputs() }}
                <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
                        {{ 'Change Your Password'|smartypants|widont }}
                    </h3>
                    <p class="mt-1 text-sm leading-5 text-gray-500 dark:text-gray-300">
                        {{ user.emailAddress|smartypants|widont }}
                    </p>
                </div>
                <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
                    {{ _self.textInput({
                        label: 'Existing Password',
                        name: 'password',
                        errorMessage: message['result']['inputMessages']['password'] ?? '',
                    }) }}
                    {{ _self.textInput({
                        label: 'New Password',
                        name: 'new_password',
                        errorMessage: message['result']['inputMessages']['new_password'] ?? '',
                    }) }}
                    {{ _self.textInput({
                        label: 'Confirm New Password',
                        name: 'confirm_new_password',
                        errorMessage: message['result']['inputMessages']['confirm_new_password'] ?? '',
                    }) }}
                </div>
                <div class="mt-4 pt-5">
                    <div class="flex justify-end">
                        <span class="ml-3 inline-flex rounded-md shadow-sm">
                            {{ Buttons.actionButton({
                                content: 'Submit',
                            }) }}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
