{% do requireVariables({
    softwareModel: 'App\\Software\\Models\\SoftwareModel',
}) %}

{# @var \App\Software\Models\SoftwareModel softwareModel #}

{% extends 'Admin/_AdminLayout.twig' %}

{% set message = flash('PostMessage') %}
{% if message[0] is defined %}
    {% set message = message[0] %}
{% endif %}

{% block adminContent %}
    <form
        method="post"
        class="form StandardForm StandardForm--IsMaxWidth800"
        enctype="multipart/form-data"
    >
        <input type="hidden" name="{{ csrf.getTokenNameKey() }}" value="{{ csrf.getTokenName() }}">
        <input type="hidden" name="{{ csrf.getTokenValueKey() }}" value="{{ csrf.getTokenValue() }}">
        <h2 class="StandardForm__Heading">Edit "{{ softwareModel.getName()|smartypants }}"</h2>
        {% if message['status'] is defined %}
            {% set class = 'Message--IsError' %}
            {% if message.status == 'SUCCESSFUL' %}
                {% set class = 'Message--IsSuccess' %}
            {% endif %}
            <div class="StandardForm__Message">
                <div
                    class="Message {{ class }}"
                >
                    <div class="Message__Inner">
                        {{ message.result.message|default('There was a problem with your submission')|smartypants|widont }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="StandardForm__FieldSet">
            <label for="name" class="label StandardForm__Label">Name</label>
            <input
                type="text"
                id="name"
                name="name"
                class="input StandardForm__Input{% if message['result']['inputMessages']['name'] is defined %} input--has-error{% endif %}"
                value="{{ message['result']['inputValues']['name'] ?? softwareModel.getName() }}"
            >
            {% if message['result']['inputMessages']['name'] is defined %}
                <div class="StandardForm__InputErrorMessage">
                    {{ message['result']['inputMessages']['name']|smartypants }}
                </div>
            {% endif %}
        </div>
        <div class="StandardForm__FieldSet">
            <label for="slug" class="label StandardForm__Label">Slug</label>
            <input
                type="text"
                id="slug"
                name="slug"
                class="input StandardForm__Input{% if message['result']['inputMessages']['slug'] is defined %} input--has-error{% endif %}"
                value="{{ message['result']['inputValues']['slug'] ?? softwareModel.getSlug() }}"
            >
            {% if message['result']['inputMessages']['slug'] is defined %}
                <div class="StandardForm__InputErrorMessage">
                    {{ message['result']['inputMessages']['slug']|smartypants }}
                </div>
            {% endif %}
        </div>
        <div class="StandardForm__FieldSet StandardForm__Fieldset--ForCheckbox">
            <label
                for="for_sale"
                class="label StandardForm__Label StandardForm__Label--ForCheckbox"
            >
                For Sale?
                <input
                    type="checkbox"
                    name="for_sale"
                    value="true"
                    id="for_sale"
                    class="checkbox StandardForm__Checkbox"
                    {% if (message['result']['inputValues']['for_sale'] ?? softwareModel.isForSale()) %}
                        checked
                    {% endif %}
                >
                <span class="StandardForm__CheckMark"></span>
            </label>
            {% if message['result']['inputMessages']['for_sale'] is defined %}
                <div class="StandardForm__InputErrorMessage">
                    {{ message['result']['inputMessages']['for_sale']|smartypants }}
                </div>
            {% endif %}
        </div>
        <div class="StandardForm__FieldSet StandardForm__FieldSet--IsFooterControl">
            <input
                class="button"
                type="submit"
                value="Submit"
            >
        </div>
    </form>
{% endblock %}
