{% do requireVariables({
    activeTab: 'string',
}) %}

{# @var string activeTab #}

{% extends '_Layout.twig' %}

{% set breadcrumbs = breadcrumbs ?? [] %}

{% macro tab(tabSlug, tabName, activeTab) %}
    <li class="TabbedLayout__Tab">
        {% set classes = 'TabbedLayout__TabLink' %}
        {% if activeTab == tabSlug %}
            {% set classes = classes ~ ' TabbedLayout__TabLink--IsActive' %}
        {% endif %}
        <a
            href="/account/{{ tabSlug }}"
            class="{{ classes }}"
        >
            {{ tabName|smartypants }}
        </a>
    </li>
{% endmacro %}

{% block content %}
    {% if breadcrumbs|length > 0 %}
        {% include 'Includes/BreadCrumbs.twig' with {
            breadcrumbs: breadcrumbs,
        } only %}
    {% endif %}
    <div class="TabbedLayout">
        <div class="TabbedLayout__Inner">
            <h1 class="heading heading--level-3 TabbedLayout__Heading">
                Your Account
            </h1>
            <ul class="TabbedLayout__Tabs">
                {{ _self.tab('licenses', 'Licenses', activeTab) }}
                {{ _self.tab('purchases', 'Purchases', activeTab) }}
                {{ _self.tab('profile', 'Profile', activeTab) }}
                {{ _self.tab('change-password', 'Change Password', activeTab) }}
                {{ _self.tab('log-out', 'Log Out') }}
            </ul>
            <div class="TabbedLayout__Content">
                {{ block('accountContent') ?? '' }}
            </div>
        </div>
    </div>
{% endblock %}
