{% do requireVariables({
    cart: 'App\\Cart\\Models\\CartModel',
}) %}

{# @var \App\Cart\Models\CartModel cart #}

{% extends '_Layout.twig' %}

{% block content %}
    <div class="Cart">
        <div class="Cart__Info">
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Items:</div>
                <div class="CartInfo__ItemValue">
                    {{ cart.totalItems }}
                </div>
            </div>
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Quantity:</div>
                <div class="CartInfo__ItemValue">{{ cart.totalQuantity }}</div>
            </div>
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Subtotal:</div>
                <div class="CartInfo__ItemValue">${{ cart.calculateSubTotal()|number_format(2) }}</div>
            </div>
            {% if cart.calculateTax() > 0 %}
                <div class="CartInfo__Item">
                    <div class="CartInfo__ItemKey">Tax:</div>
                    <div class="CartInfo__ItemValue">${{ cart.calculateTax()|number_format(2) }}</div>
                </div>
            {% endif %}
            <div class="CartInfo__Item">
                <div class="CartInfo__ItemKey">Total:</div>
                <div class="CartInfo__ItemValue">${{ cart.calculateTotal()|number_format(2) }}</div>
            </div>
            {% if cart.items|length > 0 %}
                <div class="CartInfo__Item">
                    {% set link = '/cart/log-in' %}
                    {% set linkContent = 'Log In To Pay' %}
                    {% if cart.user %}
                        {% if cart.canPurchase() %}
                            {% set link = '#0' %}
                            {% set linkContent = 'Pay Now' %}
                        {% else %}
                            {# TODO: Make sure /account is correct link #}
                            {% set link = '/account/profile' %}
                            {% set linkContent = 'Complete Profile to Pay' %}
                        {% endif %}
                    {% endif %}
                    <a
                        href="{{ link }}"
                        class="button CartInfo__Button"
                    >
                        {{ linkContent }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="Cart__Items">
            <div class="Cart__ItemsInner">
                {% if cart.items|length < 1 %}
                    <div class="Cart__Item">
                        <div class="Cart__ItemInner">
                            <div class="Cart__ItemEmptyNotice">
                                You don't have anything in your cart yet. But that's easy to fix. Up above in the menu, select one of the products from the "software" menu!
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for item in cart.items %}
                    <div class="Cart__Item">
                        <div class="Cart__ItemInner">
                            <div class="Cart__ItemLeft">
                                <div class="Cart__ItemTitle">{{ item.software.name|smartypants }}</div>
                            </div>
                            <div class="Cart__ItemRight">
                                <div class="Cart__ItemPrice">${{ item.software.price|number_format(2) }}</div>
                                <div class="Cart__ItemQuantity">
                                    <label>
                                        <input
                                            type="text"
                                            class="input Cart__ItemQuantityInput"
                                            value="{{ item.quantity }}"
                                        >
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
