{% do requireVariables({
    headingBackgroundPayload: 'App\\Content\\Meta\\HeadingBackgroundPayload',
}) %}

{# @var \App\Content\Meta\HeadingBackgroundPayload headingBackgroundPayload #}

<div class="HeadingBackground">
    <picture>
        {% if headingBackgroundPayload.getSources()|length %}
            {% for source in headingBackgroundPayload.getSources() %}
                <source
                    srcset="{{ source.getOneX() }} 1x{% if source.getTwoX() %}, {{ source.getTwoX() }} 2x{% endif %}"
                    media="{{ source.getMediaQuery() }}"
                >
            {% endfor %}
        {% endif %}
        <img
            src="{{ headingBackgroundPayload.getOneX() }}"
            {% if headingBackgroundPayload.getTwoX() %}
            srcset="{{ headingBackgroundPayload.getOneX() }} 1x, {{ headingBackgroundPayload.getTwoX() }} 2x"
            {% endif %}
            alt="{{ headingBackgroundPayload.getOneX() }}"
            class="HeadingBackground__Img"
        >
    </picture>
</div>
