{# @var \Config\MainMenu MainMenu #}

<nav
    class="SiteNav"
    ref="SiteNav"
    @mouseenter="siteNavMouseEnter"
    @mouseleave="siteNavMouseLeave"
>
    <a href="/" class="SiteNav__Logo">
        {% include 'svg/BzpxlLogoWide.svg' only %}
    </a>
    <ul
        class="SiteNav__List"
        v-bind:class="{'SiteNav__List--MobileMenuIsActive': isActive}"
    >
        {% for level1 in MainMenu.menu %}
            {% set id = uniqid() %}
            <li
                class="SiteNav__ListItem"
                @mouseenter="subMenuMouseEnter"
                @click="subMenuClick"
                data-id="{{ id }}"
            >
                <a href="{{ level1.href }}" class="SiteNav__ListItemLink">
                    {{ level1.content|smartypants|widont }}
                </a>
                {% if level1.subItems is defined and level1.subItems is iterable %}
                    <ul
                        class="SiteNav__ListLevel2"
                        ref="{{ id }}"
                        data-is-sub-nav="true"
                        data-active-class="SiteNav__ListLevel2--IsActive"
                    >
                        {% for level2 in level1.subItems %}
                            <li class="SiteNav__ListLevel2Item">
                                <a href="{{ level2.href }}" class="SiteNav__ListLevel2ItemLink">
                                    {{ level2.content|smartypants|widont }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <ul class="SiteNav__Icons">
        <li class="SiteNav__IconsItem">
            <a
                href=" /account"
                class="SiteNav__IconsItemLink SiteNav__IconsItemLink--IsAccountIcon"
            >
                {% include 'svg/Account.svg' only %}
            </a>
        </li>
        <li class="SiteNav__IconsItem">
            <a
                href="/cart"
                class="SiteNav__IconsItemLink SiteNav__IconsItemLink--IsCartIcon"
            >
                {% include 'svg/Cart.svg' only %}
            </a>
        </li>
    </ul>
    <span
        class="SiteNav__MobileOpener"
        @click="mobileOpenerClick"
    >
        {% include 'svg/Menu.svg' only %}
    </span>
</nav>
